<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PE.ControlConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PE.ControlConsole.Properties.Settings>
            <setting name="SerialBaudrate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="SerialStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="SerialParity" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="RequestTimeout_ms" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="StreamingTimeout_ms" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="RetransmitsCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="UseRetransmitsForArrays" serializeAs="String">
                <value>False</value>
            </setting>
            <!--
            Пути указываются через ;
            -->
            <setting name="IncludePath" serializeAs="String">
                <value>..\sw-ConsoleScripts;..\..\sw-ConsoleScripts;include</value>
            </setting>
        </PE.ControlConsole.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
</configuration>
